/* Header Styles */
header {
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}

/* Footer Styles */
footer {
    margin-top: 3rem;
    background-color: #4d4d4d;
    color: #ffffff;
    padding: 1rem;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
    text-align: center;
}

footer span {
    font-weight: bold;
}

/* Responsive Styles */
@media (min-width: 768px) {
    /* Header Styles */
    h1 {
        font-size: 2rem;
    }

    /* Footer Styles */
    footer {
        padding: 2rem;
    }

    footer p {
        font-size: 1rem;
    }
}

a {
    color: #0077cc;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #005ea3;
    border-bottom-color: #005ea3;
}

button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

@media (min-width: 1024px) {
    /* Header Styles */
    h1 {
        font-size: 2.5rem;
    }

    /* Footer Styles */
    footer {
        padding: 2rem 4rem;
    }

    footer p {
        font-size: 1.1rem;
    }
}
